In [1]:
import csv

In [12]:
path = 'arbolado-en-espacios-verdes.csv'
parque = 'GENERAL PAZ'

In [3]:
data = open(path, 'rt')
rows = csv.DictReader(data)

In [8]:
import pandas as pd

In [17]:
df = pd.read_csv(path)
df.head()

,long,lat,id_arbol,altura_tot,diametro,inclinacio,id_especie,nombre_com,nombre_cie,tipo_folla,espacio_ve,ubicacion,nombre_fam,nombre_gen,origen,coord_x,coord_y
0,-58.477564,-34.645015,1,6,35,0,53,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico,98692.305719,98253.300738
1,-58.477559,-34.645047,2,6,35,0,53,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico,98692.751564,98249.733979
2,-58.477551,-34.645091,3,6,35,0,53,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico,98693.494639,98244.829684
3,-58.478129,-34.644567,4,17,50,0,65,Ombú,Phytolacca dioica,Árbol Latifoliado Caducifolio,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Fitolacáceas,Phytolacca,Nativo/Autóctono,98640.439091,98302.938142
4,-58.478121,-34.644598,5,17,50,0,65,Ombú,Phytolacca dioica,Árbol Latifoliado Caducifolio,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Fitolacáceas,Phytolacca,Nativo/Autóctono,98641.182166,98299.519997

In [24]:
gral_paz = df[df['espacio_ve'] == 'GENERAL PAZ']
gral_paz.shape

(690, 17)

In [32]:
gral_paz['nombre_com'].value_counts().head(10)

Casuarina               97
Tipa blanca             54
Eucalipto               49
Palo borracho rosado    44
Fenix                   40
Ciprés                  33
Plátano                 31
Cedro del Himalaya      22
Morera blanca           22
Jacarandá               20
Name: nombre_com, dtype: int64

In [36]:
grouped = df.groupby('espacio_ve')
grouped['nombre_com'].value_counts()

espacio_ve                           nombre_com
1 DE MARZO DE 1948                   No Determinable                               8
                                     Palo borracho rosado                          7
                                     Pata de vaca  (Pezuña de vaca)                7
                                     Roble                                         4
                                     Álamo plateado                                4
                                     Olmo europeo                                  3
                                     Ginkgo                                        2
                                     Ligustro                                      2
                                     Timbó (Oreja de negro)                        2
                                     Visco (Viscote, Arca)                         2
                                     Fenix                                         1
                                     Fresno americano                              1
                                     Limpiatubos                                   1
                                     Pino de las canarias                          1
                                     Roble palustre                                1
                                     Tilo                                          1
11 DE JUNIO DE 1580                  Roble común                                   1
11 DE NOVIEMBRE DE 1859              Acacia de Baile (Mimosa de Baile)             5
                                     Ficus                                         3
                                     Ciprés                                        2
                                     Fresno (Fresno común)                         2
                                     Lapacho rosado                                2
                                     Tipa blanca                                   2
                                     Arce negundo                                  1
                                     Encina                                        1
                                     Lapacho                                       1
                                     Pindó                                         1
                                     Roble común                                   1
17 DE MAYO (Denominación Propuesta)  Fresno americano                             14
                                     Ficus                                         4
                                                                                  ..
ZABALA, ROMULO                       Fresno americano                              8
                                     Plátano                                       4
                                     Brachichiton (Árbol botella, Brachichito)     2
                                     Durazno                                       2
                                     Pino piñonero                                 2
                                     Tipa blanca                                   2
                                     Tilo                                          1
ZANNI, PEDRO, Comodoro               Eucalipto                                    26
                                     Parasol de la china                           2
                                     Plátano                                       1
ZAPIOLA, JOSE MARIA, Brig. Gral.     Plátano                                      21
                                     Ciprés                                        5
                                     Jacarandá                                     5
                                     Acacia de constantinopla                      4
                                     Fenix                                         4
                                     Fresno americano                              4
                                     Rosa de Siria                                 4
                                     Ficus                                         2
                                     Alcanforero                                   1
                                     Hibiscus                                      1
                                     Magnolia                                      1
                                     Pata de vaca  (Pezuña de vaca)                1
                                     Timbó (Oreja de negro)                        1
ZINNY, ANTONIO ABRAHAM               Tilo                                          1
ÁVILES DE ELIZALDE, DELIA            Gomero                                        2
                                     Limpiatubos                                   2
                                     Tipa blanca                                   2
                                     Ciprés                                        1
                                     Fresno (Fresno común)                         1
                                     Paraíso                                       1
Name: nombre_com, Length: 7375, dtype: int64

In [42]:
len(df['espacio_ve'].unique())

583